@model IEnumerable<FinancialManagement.ViewModels.UserViewModel>
@{
    ViewData["Title"] = "Users";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Users/Users.css" />
}

 <h2 class="text-center">@ViewData["Title"]</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Имя пользователя</th>
            <th>Email</th>
            <th>Tariff</th>
            <th>Роли</th>
            <th>Удалить</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model)
        {
            var roleClass = user.Role?.ToLower() switch
            {
                "admin" => "role-admin",
                "manager" => "role-manager",
                _ => "role-default"
            };
            <tr>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.Tariff</td>
                <td class="@roleClass">@user.Role</td>
                <td>
                    <!-- Пример ссылки на удаление -->
                    <form
                        asp-action="DeleteUser"
                        method="post"
                        asp-route-id="@user.Id"
                        onsubmit="return confirm('Вы точно хотите удалить пользователя @user.Name?');"
                        >
                        <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>